* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

img,
video,
audio {
	max-width: 100%;
	height: auto;
}

label,
button,
input,
select {
	cursor: pointer;
}

label[for] {
	cursor: pointer;
}

@font-face{
    font-family: "Circe";
    src: url('./assets/fonts/Circe-Regular/Circe-Regular.eot');
    src: url('./assets/fonts/Circe-Regular/Circe-Regular.eot?#iefix') format("embedded-opentype"), 
    	 url('./assets/fonts/Circe-Regular/Circe-Regular.woff') format("woff"), 
    	 url('./assets/fonts/Circe-Regular/Circe-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: "Circe";
    src: url('./assets/fonts/Circe-Bold/Circe-Bold.eot');
    src: url('./assets/fonts/Circe-Bold/Circe-Bold.eot?#iefix') format("embedded-opentype"), 
    	 url('./assets/fonts/Circe-Bold/Circe-Bold.woff') format("woff"), 
    	 url('./assets/fonts/Circe-Bold/Circe-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: "Circe";
    src: url('./assets/fonts/Circe-Light/Circe-Light.eot');
    src: url('./assets/fonts/Circe-Light/Circe-Light.eot?#iefix') format("embedded-opentype"), 
    	 url('./assets/fonts/Circe-Light/Circe-Light.woff') format("woff"), 
    	 url('./assets/fonts/Circe-Light/Circe-Light.ttf') format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family: "Circe";
    src: url('./assets/fonts/Circe-ExtraLight/Circe-ExtraLight.eot');
    src: url('./assets/fonts/Circe-ExtraLight/Circe-ExtraLight.eot?#iefix') format("embedded-opentype"), 
    	 url('./assets/fonts/Circe-ExtraLight/Circe-ExtraLight.woff') format("woff"), 
    	 url('./assets/fonts/Circe-ExtraLight/Circe-ExtraLight.ttf') format("truetype");
    font-style: normal;
    font-weight: 200;
}

body {
	font-family: 'Circe', sans-serif;
	font-size: 1em;
	font-weight: 300;
}

$color-yellow: #ffcf00;
$color-gray: #9b9b9b;

@mixin ul-reset {
	display: block;
	list-style: none;
	font-size: 0;
}

@mixin base-transition {
	transition: all .3s ease;
}

$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 480px;

@mixin desktop {
	@media screen and (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin tablet {
	@media screen and
	(max-width: #{$tablet-width}) {
		@content;
	}
}

@mixin mobile {
	@media screen and (max-width: #{$mobile-width}) {
		@content;
	}
}

.wrapper {
	max-width: 1280px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 56px;
	position: relative;

	@include mobile{
		max-width: 480px;
		padding: 0 24px;
	}
}

h1 {
	font-size: 66px;
	color: #fff;
	line-height: 110%;
	font-weight: 100;
	margin: 0 0 30px 0;

	@include mobile{
		font-size: 40px;
		line-height: 120%;
	}
}

h2 {
	font-size: 40px;
	font-weight: normal;
	line-height: 120%;
	text-align: left;

	@include mobile{
		font-size: 20px;
		line-height: 134%;
	}
}

p {
	margin: 0 0 1.7123287671% 0;

	@include mobile{
		font-size: 11px;
		line-height: 146%;
	}
}

.action-button {
	background: $color-yellow;
	color: #000;
	font-size: 11px;
	height: 72px;
	line-height: 72px;
	width: 26.0273972603%;
	padding: 0 32px;
	text-transform: uppercase;
	display: block;
	cursor: pointer;
	font-weight: 400;
	-webkit-appearance: none;
	border: 0;
	position: relative;
	text-align: left;
	@include base-transition;
	&:after {
		content: '';
		background: url("./assets/images/Arrow@2x.png") no-repeat;
		background-size: cover;
		position: absolute;
		top: calc(50% - 12px);
		right: 32px;
		width: 24px;
		height: 24px;
		display: block;
	}

	@include mobile{
		width: 82.6086956522%;
		margin-bottom: 30px;
	}
}

.parts-block {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	height: 100%;

	.part {
		display: flex;
		text-align: center;
		position: relative;
		width: 50%;
		height: 100%;
		align-items: center;
	}
}

.banner-text {
	font-size: 20px;
	font-weight: normal;
	&.vertical {
		writing-mode: vertical-lr;
		transform: rotateZ(-180deg);
	}
}

.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	.logo {
		background: url("./assets/svg/logo.svg") no-repeat;
		background-size: cover;
		width: 104px;
		height: 56px;
	}
	.info-part {
		padding: 10px 0 0 0;
		.dropdown {
			color: #fff;
			font-size: 11px;
			text-transform: uppercase;
			margin: 0 32px 0 0;
			position: relative;
			> img {
				width: 24px;
				transform: rotateZ(90deg);
				opacity: .5;
				display: inline-block;
				vertical-align: middle;
			}
		}
		a {
			font-size: 11px;
			color: #ffcf00;
			text-decoration: none !important;
			text-transform: uppercase;
		}

		@include mobile{
			display: none;
		}
	}
}

.main-slide {
	background: url("./assets/images/back_null_percents.jpg") 50% 50% no-repeat;
	background-size: cover;
	min-height: 640px;

	.wrapper {
		padding-top: 48px;
	}

	.slide-text {
		padding-top: calc(19.609375% - 56px); //padding / slider-height * 100 / 2
		.caption {
			display: inline-block;
			color: $color-gray;
			font-size: 30px;
			line-height: 130%;
			font-weight: 100;
			margin: 0 0 30px 0;

			@include mobile{
				font-size: 24px;
				line-height: 134%;
				color: #d2d2d2;
			}
		}
	}

	@include mobile{
		min-height: auto;
		background-position: 80% 50%;
		background-size: 260%;
	}
}

.section-banner {
	background: $color-yellow;
	height: 400px;
	.banner {
		&.parts-block{
			@include mobile{
				flex-flow: column nowrap;
				padding: 20px 0;
			}
		}
		.part-left {
			display: flex;
			flex-flow: row nowrap;
			width: 45%;
			.banner-text{
				&.vertical {
					padding-left: 19.0476190476%;
				}
				@include mobile{
					display: none;
				}
			}
		}
		.part-right {
			width: 52%;
			@include mobile{
				h2{
					text-align: center;
				}
			}
		}
		.part{
			@include mobile{
				width: 100%;
				justify-content: center;
				height: auto;
			}
		}
	}
	.percentage {
		font-weight: 100;
		display: flex;
		flex-flow: column nowrap;
		text-align: center;
		> img {
			padding-bottom: 30px;
			max-width: 100%;
			@include mobile{
				padding-bottom: 0;
			}
		}
	}
}

.section-payments {
	h2 {
		text-align: center;
		margin: 40px auto 60px auto;

		@include mobile{
			font-size: 30px;
			line-height: 134%;
			max-width: 75%;
		}
	}

	.partner-list-wrapper{
		position: relative;
		margin-bottom: 100px;

		.partners-list {
			@include ul-reset();
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			text-align: center;
			position: relative;
			z-index: 1;

			li {
				flex: 1;
				flex-basis: 25%;
				margin-bottom: 60px;
			}

			@include mobile {
				li{
					flex-basis: 100%;
					margin-bottom: 0;
					&:not(:nth-child(1)){
						display: none;
					}
				}
			}
		}

		.controls{
			width: 100%;
			position: absolute;
			top: calc(50% - 12px);
			left: 0;
			z-index: 0;
			display: flex;
			justify-content: space-between;
			.control{
				width: 24px;
				height: 24px;
				background: url("./assets/images/Arrow@2x.png") no-repeat;
				background-size: cover;

				&.prev{
					transform: rotateY(-180deg);
				}
			}

			@include desktop{
				display: none;
			}
		}

		@include mobile {
			margin-bottom: 60px;
		}
	}

	.sign-up-form {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		font-size: 0;
		margin: 0 0 4.2808219178% 0;

		.input-field {
			display: flex;
			flex-flow: column nowrap;
			width: 28.0821917808%;
			margin-right: 1.25%;
			input {
				width: 100%;
				height: 72px;
				line-height: 72px;
				border: 0;
				-webkit-appearance: none;
				background: #efefef;
				padding-left: 22px;
				font-size: .875rem;
				@include base-transition;
				&:focus {
					background: #fff;
					box-shadow: 0 0 8px 2px rgba(0, 0, 0, .12);
					border: #dedede;
					color: #000;
				}
			}

			.tip {
				font-size: 11px;
				color: $color-gray;
				padding: 6.0975609756% 0 0 6.0975609756%;
			}

			@include mobile{
				display: none;
			}
		}
	}

	.notice {
		margin: 0 auto 4.2808219178% auto;
		max-width: 47.9452054795%;
		text-align: center;
		font-size: 14px;
		color: #000;
		font-weight: normal;

		a {
			color: #3079b7;
		}

		@include mobile{
			max-width: 100%;
			margin-bottom: 60px;
		}
	}
}

.footer {
	background: #232323;
	.social-list {
		@include ul-reset;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		height: 80px;
		border-bottom: 1px solid $color-gray;
		margin-bottom: 2.5684931507%;
		li {
			height: 22px;
			margin: 0 1.7123287671% 0 0;
			img {
				height: 100%;
			}
			&:last-child {
				margin: 0;
			}
		}

		@include mobile{
			border-bottom: none;
			margin-bottom: 0;

			li{
				margin: 0 4.6296296296% 0 0;
			}
		}
	}

	.lists-holder {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-bottom: 5.9931506849%;
		.footer-nav-list {
			@include ul-reset;
			display: flex;
			flex-flow: column nowrap;
			flex: 1;
			margin: 0 3.0821917808% 0 0;
			&:nth-child(2) {
				margin: 0 5.1369863014% 0 0;
			}
			&:nth-child(3) {
				margin: 0 1.7123287671% 0 0;
			}
			&:nth-child(4) {
				margin: 0 2.9109589041% 0 0;
				@include mobile{
					display: none;
				}
			}
			&:last-child {
				margin: 0;
			}
			li {
				font-size: 1rem;
				line-height: 150%;
				&.top-item {
					a {
						color: #fff;
					}
				}
				a {
					color: $color-gray;

					@include mobile{
						text-decoration: none;
					}
				}
			}

			@include mobile{
				border-bottom: 1px solid $color-gray;
				padding-bottom: 4.6296296296%;

				&:nth-child(-n+5) {
					margin: 0;
					flex: auto;
				}
				li:not(:nth-child(1)){
					display: none;
					font-size: 16px;
				}
			}
		}
	}

	.bottom-part {
		.parts-block{
			align-items: flex-start;
		}
		.part-left {
			flex-flow: column nowrap;
			text-align: left;
			color: #616161;
			font-size: 11px;
			width: 70%;
			margin-right: 5.9931506849%;

			@include mobile{
				width: 100%;
			}
		}
		.part-right {
			width: 24.0068493151%;
			@include mobile{
				display: none;
			}

			.footer-partners-list{
				@include ul-reset;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: flex-end;
				li{
					margin: 0 10% 7.1428571429% 0;
				}
			}
		}

		@include mobile{
			margin-bottom: 9.2592592593%;
			p{
				margin-bottom: 4.6296296296%;
			}
		}
	}
}
